<h2 mat-dialog-title>About</h2>

<mat-dialog-content>

  <mat-tab-group>
    <mat-tab label="General stuff">

      <div class="tab-content">
        <p>This project tries to give an idea of the scale of the Solar System by showing how big it would be, in Google Maps,
          if the Earth were the size of a basketball or other objects. </p>

        <p>It was inspired by this video by Mark Rober: <a href="https://www.youtube.com/watch?v=pR5VJo5ifdE">https://www.youtube.com/watch?v=pR5VJo5ifdE</a></p>

        <p>Notes:</p>
        
        <ul>
          <li>Click anywhere on the map to change the Sun's position</li>
          <li>The planets' orbits shown are ellipses, with each planet's real eccentricity</li>
        </ul>
    </div>

    </mat-tab>
    <mat-tab label="Tech stuff">

      <div class="tab-content">
        <p>Github page -
          <a href="https://github.com/henriquefm/solarsystemmaps">https://github.com/henriquefm/solarsystemmaps</a>
        </p>

        <p>Stuff that I used:</p>

        <ul>
          <li><a href="https://angular.io/">Angular</a></li>
          <li><a href="https://material.angular.io/">Angular Material</a></li>
          <li><a href="https://github.com/angular/flex-layout">Angular Flex</a></li>
          <li><a href="https://cli.angular.io/">Angular CLI</a></li>
          <li><a href="https://github.com/ngrx/store">@ngrx/store</a></li>
        </ul>
      </div>
    </mat-tab>
  </mat-tab-group>

</mat-dialog-content>