

<div id="left-cards" ngClass.md="mdLeftCards"  ngClass.sm="smLeftCards" ngClass.xs="smLeftCards">
    <ssm-formcard></ssm-formcard>
    <ssm-planetdetailscard></ssm-planetdetailscard>
</div>

<div id="map">
</div>

<div id="bottom-cards" ngClass.xs="xsBottomCards">
  <ssm-sizeimages></ssm-sizeimages>  
</div>
  
<!-- <md-sidenav-container class="example-container">
    <md-sidenav mode="side" opened="true" #sidenav>
        <ssm-formcard></ssm-formcard>
    </md-sidenav>
  
    <div class="example-sidenav-content">
      
    </div>
    
  </md-sidenav-container> -->
  
  
  


