<h1 mat-dialog-title>Solar System Maps</h1>
<div mat-dialog-content>
  <p>How big would the Solar System be if Earth were the size of a basketball?</p>
  <p>How far away would Earth be from the Sun?</p>
  <p>What about the other planets?</p>
  <p>This site will answer all those questions!</p>
  <p>Each blue line represents the orbit of a planet, and the red circle in the middle is the Sun. Click anywhere to reposition the Sun.</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close>Got it!</button>
</div>