
mat-card-content{
    //max-height: 100px;
}

span{
    vertical-align: sub;
}

mat-select{
    margin-left: 22px;
}

.mat-card{
    padding-top: 4px;
}

button{
    margin: auto;
    display: block;
}