<mat-expansion-panel id="planet-details-card" *ngIf="focusedPlanet$ | async as planet">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{planet.name}}
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-table #table [dataSource]="dataSource$">

    <ng-container matColumnDef="key">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.key}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.value | length:'.0-2' }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

</mat-expansion-panel>